:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.4em);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to right, rgba(5, 5, 5, 0.5), rgba(0, 10, 22, 0.8)), url('../andela-images/computer-3368242_1920.jpg');
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100vw;
  height: 100vh;
}

header h3 {
  margin: 0.5em auto;
  text-align: center;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  height: 90%;
  overflow: hidden;
}

.signup-header {
  text-align: center;
  display: block;
  margin: 1.5em auto;
  /* margin-top: 2em; */
}

.form-question {
  width: 100%;
  background-color: #004792;
  padding: 1em 0;
  font-size: 0.8rem;
}

.form-question p {
  padding: 0.6em;
  text-align: center;
}

.account-form {
  width: 100%;
  margin: 0 auto;
  height: 90%;
}

.account-form div input {
  border: 0;
  outline: none;
  border-bottom: solid 1px rgb(7, 16, 66);
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.main-login {
  background-color: #fff;
  color: rgb(7, 16, 66);
}

.main-login>div {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.main-login div input {
  width: 80%;
}

.main-password {
  background-color: #fff;
  padding-top: 1.5em;
  padding-bottom: 2em;
  color: rgb(7, 16, 66);
  height: 100%;
  margin-top: 3em;
  text-align: center;
}

.main-password label {
  font-weight: bolder;
  font-size: 1.5em;
}

.main-password div p {
  margin-top: 2em;
  padding: 0 1em
}

#password-form {}

.main-signup {
  background-color: #fff;
  padding-top: 1.5em;
  padding-bottom: 2em;
  color: rgb(7, 16, 66);
  height: 100%;
}

a[href="password-reset.html"] {
  text-decoration: none;
  color: red;
  font-weight: 600;
}

span[id="password-reset"] {
  margin-bottom: 1em
}

a[href="password-reset.html"]:hover {
  color: #001429
}

.main-signup div {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.main-signup div input {
  width: 80%;
}

.form-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-footer button {
  margin: 0.5em;
  padding: 0.5em 1em;
  line-height: 1;
  background-color: #001429;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0.2em;
}

.form-footer button:active {
  background-color: rgb(7, 16, 66);
}

.form-footer button:hover {
  cursor: pointer;
}

.form-footer span {
  width: 60%;
  padding: 0.5em 2em;
  text-align: right;
  margin-left: -2em;
  font-size: 0.7rem;
  cursor: pointer;
  color: rgb(246, 28, 8)
}

.form-footer form {
  display: inline;
}

footer p {
  font-size: 0.6rem;
  text-align: center;
  color: #001429;
  padding: 1em
}

.signup-form {
  width: 100%;
  height: 30%;
  margin: 0 auto;
}

.signup-form div input {
  border: 0;
  outline: none;
  border-bottom: solid 1px rgb(7, 16, 66);
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.login-container li a:hover {
  background-color: rgba(0, 37, 82, 0.5);
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 2em;
  margin-right: 3em;
  margin-left: 0.5em;
  padding-right: 2em;
  height: 70%
}

.message-card {
  line-height: 80%;
  border-radius: 0.1em;
  text-align: center;
  color: white;
  grid-row: 1/2;
}

.logcard {
  grid-row: 2/-1;
  border-radius: 0.9em;
}

.footer-message p a {
  color: darkorange;
  text-decoration: none;
}

.footer-message p a:hover {
  color: red;
  cursor: pointer;
}

.message-card div {
  margin: 0 auto
}

.message-card h3,
.message-card p {}

.message-card h3 {
  font-size: 2em;
  line-height: 1.2;
  margin: 1em 0;
  font-weight: 300
}

.message-card p {
  line-height: 1.2;
  font-size: 2em;
}

.user-notification {
  margin: 1em 0.5em;
  padding: 1em;
  color: rgb(7, 16, 66);
  font-weight: 300;
  width: 100%
}

div.forgot {
  margin-bottom: 1em;
}

@media (min-width: 35em) {
  ul.login-container {
    margin: 0 auto;
  }
  .wrapper {
    width: 50%;
  }
  .login-form {
    margin: 0 auto;
    transform: translate(0, 30%);
    box-shadow: 0.2em 0.2em 2.5em black;
    width: 50vw;
    height: 50vh;
    padding: 0 5em;
    border: solid 1px black;
  }
  footer p {
    color: #001429;
  }
}

@media (min-width: 50em) {
  .signup-form ul {
    list-style: none;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    width: 50vw;
  }
  .signup-form ul li input:nth-child(2) {
    padding: 0.5em 1em;
  }
}