@import "./message.css";
.main-group {
  position: fixed;
  top: 8vh;
  right: 0;
  left: 0;
  height: 92vh;
  overflow: hidden;
  background-color: #fff;
}

.display-pane {
  text-align: center;
  height: 100%;
  position: relative;
}

.main-group>div:last-child {
  position: absolute;
  right: 0;
  padding: 1em 2em;
  border-radius: 0.4em;
  margin: 0 auto -0.5em 0;
  bottom: -10vh;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0);
  color: #fff;
  transition: bottom 1s linear;
}

.group-header {
  margin: 5em auto 1em;
  visibility: hidden;
}

.group-cover {
  height: 55vh;
  width: 60vw;
  margin: 0 auto;
  background-color: #002D40;
  padding: 1em;
}

.group-card {
  height: 75%;
  width: 100%;
  background-color: #fff;
  padding: 1em;
}

#group-name {
  width: 100%;
  outline: none;
  border: none;
}

.create-group-buttons {
  color: #fff;
  padding-top: 1.5em;
  font-size: 0.7rem;
}

.group-cover>div:nth-child(2) span {
  padding: 1em;
}

.group-cover>div:nth-child(2) span:hover {
  cursor: pointer;
  background-color: rgb(218, 218, 223);
  color: black;
}

.group-list-pane {
  position: fixed;
  height: 92vh;
  top: 8vh;
  right: 0;
  left: 0;
  overflow: auto;
  background-color: #fff;
}

.group-list-card {
  height: 100%
}

.group-list-card ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.group-list-card ul li {
  border: solid 1em #002D40;
  margin: 1em;
  padding: 0.5em;
  flex-grow: 1;
  text-align: center
}

.group-list-card ul li>p:first-child {
  margin: 0;
}

.group-list-card ul li>p:first-child>a {
  text-decoration: none;
}

.group-list-card ul li>p:first-child:hover {
  cursor: pointer;
}

.group-list-card ul li input {
  margin: 0.3em;
}

.my-group-header {
  display: none;
}

.my-group-modal {
  position: fixed;
  top: 8vh;
  height: 92vh;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 4, 0, 0.7);
  display: none;
}

.group-manipulation {
  margin: 9% auto;
  width: 80%;
  height: 65%;
  text-align: center;
  background-color: #fff;
  position: relative;
  border: #002D40 solid 1em;
}

div#group-popup-message {
  position: absolute;
  right: 0;
  padding: 1em 2em;
  border-radius: 0.4em;
  margin: 0 auto -0.5em 0;
  bottom: -10vh;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0);
  color: #fff;
  transition: bottom 1s linear;
}

.group-manipulation>div {
  position: absolute;
  top: 15%;
  left: 15%;
  height: 70%;
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 1em;
}

.group-manipulation>div>hr {
  margin: 0 1em 3em 1em
}

.group-manipulation>div>input {
  border: none;
  outline: none;
  width: 90%;
  text-align: center;
}

.group-manipulation>span {
  display: inline-block;
  border-radius: 0.2em;
  padding: 0.7em;
  position: absolute;
  top: 1%;
  right: 1%;
  background-color: #002D40;
  color: #fff;
  z-index: 5;
}

.group-manipulation>span:hover {
  background-color: rgb(160, 160, 160);
  color: black;
  cursor: pointer
}

.group-manipulation>div>span {
  padding: 0.8em;
  border-radius: 0.2em;
  background-color: #002D40;
  color: #fff;
}

.group-manipulation>div>span:hover {
  background-color: rgb(160, 160, 160);
  color: black;
  cursor: pointer;
}

.delete-group-div p {
  margin-bottom: 5em;
}

#new-group-message {
  position: absolute;
  top: 2%;
  width: 100%;
  height: 85%;
  left: 0;
  margin: 0;
  display: none;
  padding: 1em;
}

#new-group-message>input {
  border: none;
  outline: none;
  margin-top: 2em;
  width: 100%;
  text-align: start;
}

#new-group-message>hr {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.5em;
  margin-left: 0;
}

textarea {
  width: 100%;
  height: 70%;
  margin-bottom: 1em;
}

.tooltip {
  position: relative;
}

.group-list-card ul li>p {
  margin-top: 0;
  text-transform: uppercase;
}

.group-list-card ul li>span {
  cursor: pointer;
  padding: 0;
  margin-right: 0.5em;
}

.tooltip>.edit {
  position: absolute;
  white-space: pre;
  top: -15px;
  display: none;
  font-weight: 100;
  font-style: italic;
  z-index: 1;
}

.group-list-card ul li>span:hover .edit {
  display: inline;
  background-color: #002D40;
  color: #fff;
}

.tooltip>.add-user {
  position: absolute;
  white-space: pre;
  top: -15px;
  display: none;
  font-weight: 100;
  font-style: italic;
  z-index: 1;
}

.group-list-card ul li>span:hover .add-user {
  display: inline;
  background-color: #002D40;
  color: #fff;
}

.tooltip>.delete-group {
  position: absolute;
  top: -15px;
  white-space: pre;
  display: none;
  font-weight: 100;
  font-style: italic;
  z-index: 1;
}

.group-list-card ul li>span:hover .delete-group {
  display: inline;
  background-color: #002D40;
  color: #fff;
}

.tooltip>.group-message {
  position: absolute;
  top: -13px;
  right: 50%;
  white-space: pre;
  display: none;
  font-weight: 100;
  font-style: italic;
  z-index: 1;
}

i {
  width: inherit;
}

.group-list-card ul li>span:hover .group-message {
  display: inline;
  background-color: #002D40;
  color: #fff;
}

#group-members-list {
  width: 100%;
  height: 80%;
  left: 0;
  position: relative;
}

#group-members-list>ul {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  height: inherit;
}

#group-members-list>ul>li {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap;
  border-bottom: #002D40 solid 1px;
  padding: 1em 1em 0;
}

#group-members-list>ul>li>span:first-child {
  margin-right: 0.8em;
  right: 0;
  text-transform: uppercase;
  font-size: medium
}

#group-members-list>ul>li>span:nth-child(2) {
  font-style: italic;
  font-stretch: extra-condensed;
  font-size: small
}

#group-members-list>div {
  position: absolute;
  width: inherit;
  height: 0%;
  top: 0;
  left: 0;
  display: none;
  border: #002D40 solid 0.6em;
  background-color: #fff;
}

#group-members-list>p:first-child {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: large
}

#group-members-list>div>span {
  position: absolute;
  right: 0;
}

#group-members-list>ul>li:hover {
  background-color: #002D40;
  color: #fff;
  cursor: pointer;
  padding-bottom: 1em;
  font-size: larger
}

@media(min-width: 35em) {
  .group-list-card ul li>p:first-child {
    font-stretch: extra-condensed;
    font-size: x-small
  }
  .main-group>div:last-child {
    width: 60%;
  }
  .group-list-card ul {
    display: inline-flex;
    justify-content: space-around;
    flex-flow: wrap;
  }
  .group-list-card ul li {
    flex-grow: 1;
  }
  .group-manipulation>div>span {
    padding: 0.5em;
  }
  .group-manipulation>span {
    padding: 0.5em;
  }
  .my-group-modal {
    top: 0;
    height: 100vh;
    left: 20vw;
  }
  div#group-popup-message {
    width: 60%;
  }
  .my-group-header {
    display: block;
    margin: 1em;
    text-align: center;
  }
  .group-list-pane {
    position: fixed;
    width: 80vw;
    left: 20vw;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100vh;
  }
  .group-list-card ul {
    width: 100%;
  }
  .group-list-card ul li {
    width: 25%
  }
  .group-card {
    padding: 1em;
  }
  #group-name::placeholder {
    text-align: start;
  }
  .main-group {
    position: fixed;
    left: 20vw;
    top: 0;
    bottom: 0;
    width: 80vw;
    height: 100vh;
    padding: 2em;
  }
  .group-header {
    visibility: visible
  }
  .group-cover {
    height: 40vh;
  }
}

@media(min-width: 50em) {
  .tooltip>.group-message {
    top: -20px;
  }
  .tooltip>.delete-group {
    top: -20px;
  }
  .tooltip>.add-user {
    top: -20px;
  }
  .tooltip>.edit {
    top: -20px;
  }
}