:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.4em);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to right bottom, rgba(7, 15, 29, 0.8), rgba(167, 194, 253, 0.8));
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header {
  background-color: #002D40;
  color: #fff;
  border: solid #002D40 0.2px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  z-index: 3;
  width: 100vw
}

header h1 {
  text-align: center;
  height: 100%;
  font-size: 1.3rem;
  margin-bottom: 0;
}

.main {
  display: flex;
  position: fixed;
  padding-right: 1em;
  top: 7vh;
  bottom: 0;
  width: 100vw;
  background-color: #fff;
  max-height: 93vh;
  overflow: hidden;
}

.container {
  width: inherit;
  min-height: 100vh;
}

.view-pane {
  display: none;
  width: inherit;
  height: inherit;
  overflow: auto;
}

.container ul {
  position: absolute;
  margin: 0;
  padding: 1em 0.2em 1em 0.2em;
  width: inherit;
  height: 100%;
  overflow: auto;
}

.container ul li {
  list-style: none;
  border-bottom: solid 0.5px rgb(169, 169, 172);
  padding: 0.5em;
  cursor: pointer;
}

.container ul li:last-child {
  margin-bottom: 1.3em;
}

.container ul li p {
  margin: 0;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-backdrop {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0vw;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: width 0.2s linear;
}

.homepage-navbar {
  position: absolute;
  top: 7vh;
  left: 0.1em;
  width: 70%;
  height: 94vh;
  opacity: 1;
  background-color: #002D40;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.homepage-navbar .all-list {
  list-style: none;
  padding: 0;
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
}

.homepage-navbar .all-list li {
  flex: 1;
  width: 100%;
  flex-basis: 100%;
  display: flex;
  background-color: #002D40;
  opacity: 1;
}

.homepage-navbar .all-list li a {
  text-decoration: none;
  width: 100%;
  text-align: end;
  flex: 1;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  padding-right: 1em;
  color: #fff;
}

.homepage-navbar .all-list li a:link {
  text-decoration: none;
}

.homepage-navbar .all-list li a:visited {
  text-decoration: none;
}

.homepage-navbar .all-list li a:hover {
  text-decoration: none;
  background-color: rgb(7, 16, 66);
}

.homepage-navbar .all-list li a:active {
  text-decoration: none;
}

.homepage-navbar .all-list li a span {
  flex-basis: 100%;
}

.message-header button {
  position: absolute;
  top: 0;
  left: 0.1em;
  border: 0;
  background-color: transparent;
  font-size: 3.2em;
  width: 1em;
  height: 100%;
  line-height: 0.5;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  padding: 0;
}

.message-header button::after {
  position: absolute;
  top: 0.3em;
  left: 0.2em;
  display: block;
  content: "\2261";
  color: #fff;
  text-indent: 0;
  outline: 0;
  height: 100%;
  width: 100%
}

.unread-notification {
  height: 100%;
  position: relative;
  text-align: center
}

.unread-notification p:first-child {
  position: absolute;
  width: 100%;
  top: 40%;
}

.unread-notification p:nth-child(2) {
  position: absolute;
  width: 100%;
  top: 44%;
}

.message-showing {
  display: block;
}

.new-template {
  height: 100%;
}

.new-template div {
  text-align: start;
  padding-top: 0.5em;
}

.new-template div:first-child {
  text-align: end;
}

.new-template div:first-child span {
  margin-left: 1em;
  color: black;
  padding: 0.4em;
}

.new-template div:first-child span:hover {
  background-color: rgb(218, 218, 223);
  color: black;
  cursor: pointer;
}

.new-template div span {
  padding-right: 0.3em;
  color: rgb(169, 169, 172);
  font-size: 0.8em
}

.new-template input {
  border: none;
  outline: none;
}

.new-template input::placeholder {
  font-size: 1em
}

.new-template textarea {
  border: none;
  outline: none;
  padding: 0.5em;
  width: 100%;
  border-bottom: 2px solid rgb(169, 169, 172);
}

hr {
  margin: 0;
  margin-top: 0.3em;
}

.message-form {
  height: 100%;
}

i {
  padding-right: 0.3em;
}

.display-list-message {
  height: inherit;
  display: none;
  padding: 2em;
  background-color: #fff;
}

.new-msg-container {
  height: 100%;
  width: 100%;
  padding: 0.5em;
  display: block;
  position: relative;
}

.sender {
  margin-bottom: 3em;
  font-size: 0.7em;
}

#sender-email {
  width: 85%;
}

#email-subject {
  width: 85%;
}

#recipient-email {
  width: 85%;
}

.container-header {
  text-align: center;
  display: none;
  text-transform: uppercase;
  font-style: italic
}

.display-list-message div:first-child {
  position: relative;
}

.display-list-message span:first-child {
  padding: 0.3em;
  margin-bottom: 1em;
  font-size: 0.7rem;
}

.display-list-message span:nth-child(2) {
  position: absolute;
  right: 0;
  padding: 0.3em;
  margin-bottom: 1em;
  font-size: 0.7rem;
}

.display-list-message span:first-child:hover {
  background-color: rgb(151, 151, 160);
  cursor: pointer;
}

.display-list-message span:nth-child(2):hover {
  background-color: rgb(151, 151, 160);
  cursor: pointer;
}

.new-msg-container>div:last-child {
  position: absolute;
  right: 0;
  padding: 1em 2em;
  border-radius: 0.4em;
  margin: 0 auto -0.5em 0;
  bottom: -10vh;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0);
  color: #fff;
  transition: bottom 1s linear;
}

@media(min-width: 35em) {
  div.modal-backdrop {
    position: fixed;
    width: 20vw !important;
    top: 0;
    left: 0;
    background-color: #002D40;
    height: 100vh;
    transition: none;
  }
  .new-msg-container>div:last-child {
    width: 60%;
  }
  .container-header {
    display: block;
    color: dimgray;
    margin: 0;
    padding-top: 1em;
  }
  header {
    display: none
  }
  .homepage-navbar {
    width: 100%;
  }
  .main {
    left: 20vw;
    width: 80vw;
    top: 0;
    bottom: 0;
    right: 0;
    max-height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
  }
  .container ul {
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
  }
  .message-header button {
    display: none;
  }
  .toggle-off {
    animation: none;
  }
  .toggle-on {
    animation: none;
  }
}

@media (min-width: 50em) {
  .display-list-message span:first-child {
    display: none;
  }
  .homepage-navbar {
    position: fixed;
    width: 20vw;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-color: #002D40;
    opacity: 1;
    visibility: visible;
  }
  .main {
    left: 20vw;
    width: 80vw;
    top: 0;
    bottom: 0;
    right: 0;
    max-height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
  }
  .container {
    width: 27%;
    height: 100vh;
    border-right: 1px solid rgb(169, 169, 172);
    /* padding-bottom: 2em; */
  }
  .container ul {
    height: 100vh;
    overflow: auto;
  }
  .view-pane {
    display: flex;
    width: 73%;
    height: 100vh;
    overflow: auto;
  }
  .display-message {
    text-align: start;
  }
  .new-msg-container {
    width: 100%;
    padding-right: 2em;
  }
  .display-list-message {
    width: 100%;
    padding-right: 2em;
  }
  .container ul li:hover {
    background-color: rgb(195, 192, 192);
    cursor: pointer;
  }
}